@use "../../Styles/partials/mixins.scss" as *;
@use "../../Styles/partials/global.scss" as *;

#hero {
  width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
    max-width: 1280px;

  .hero {
    // background-color: aqua;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content-wrapper {
           width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
 
      gap: 2em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      
      @include tabletWidth {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 3em;
        padding-left: 2em;
        padding-right: 2em;
      }

      &-imageXtheme {
        // background-color: red;
        display: flex;
        // justify-content: center;
        // align-items: center;
        position: relative;
        
        @include tabletWidth {
          width: 30%;
          // max-width: 500px;
        }
        &-image {
          width: 100%;
          // width: 200px;
          border-radius: 50%;

          @include tabletWidth {
            min-width: 150px;
            // max-width: 300px;
          }
        }

        &-icon {
          width: 25px;
          position: absolute;
          top: 0;
          right: -15px;

          @include tabletWidth {
            top: 0;
            right: 0;
          }

          @include laptopWidth {
            top: 0;
            right: 0;
          }
        }
      }

      &-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25em;
        text-align: center;

        @include tabletWidth {
          width: 70%;
          max-width: 700px;
          // padding: 0 2em;
        }

        @include laptopWidth {
          width: 60%;
        }

        &-socials {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          gap: 1.5em;

          a {
            width: fit-content;
          }
        }

        &-github-icon {
          max-height: 35px;
        }

        &-linkedin-icon,
        &-x-twitter-icon {
          height: 30px;
        }

        &-cv-btn {
          background-color: var(--btn-color);
          color: var(--btn-text-color);
          padding: 1em 1.25em;
          margin-top: 1em;
          font-size: 1.25rem;
          border: none;
          border-radius: 1.25em;
          font-weight: bold;
          box-shadow: 0 4px 4ppx rgba(0, 0, 0, 0.25);
          transition: box-shadw 200ms ease-in-out, tansform 200ms ease-in-out;
        }

        &-cv-btn:hover {
          transform: scale(1.05);
        }

        &-cv-btn:active {
          transform: translateY(2px);
        }

        &-description {
          max-height: 24ch;
          // margin: 0 2em 0;

          @include tabletWidth {
            // margin: 0 2em 0;
            max-width: 600px;
          }
        }
      }
    }
  }
}
