@use "../../Styles/partials/variables.scss"as *;
@use "../../Styles/partials/mixins.scss"as *;
@use "../../Styles/partials/global.scss"as *;

.projects {
  height: 100%; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 1em ;
  padding-right: 1em ;
  min-height: 500px;


  @include tabletWidth {
    padding: 3em 2em 4em;

  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2em;

    @include tabletWidth {
      width: 80%;
      flex-direction: row;
    }
  }

  &__side-note {
    padding-bottom: 3em;
    width: 80%;
    max-width: 600px;
    color: rgb(107, 106, 106);
    text-align: center;
  }
}