$background-color: #fff;
$btn-color: #0987f2;
$btn-text-color: #fff;
$project-card-bg: transparent;
$text-color: #222;
$form-text-color: #555;
$footer-text-color: #888;
$border-color: #444343;

$background-color-dark: #222;
$btn-color-dark: #fff;
$btn-text-color-dark: #222;
$project-card-bg-dark: #fff;
$text-color-dark: #fff;
$form-text-color-dark: #fff;
$footer-text-color-dark: #bbb;
$border-color-dark: #00000000;