@use "../../Styles/partials/variables.scss" as *;
@use "../../Styles/partials/mixins.scss" as *;
@use "../../Styles/partials/global.scss" as *;

.header {
  background-color: #c27777;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;

  &__nav {
    // background-color: #7a7575;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    // padding: 1em 0 0.5em;

    @include laptopWidth {
      display: none;
    }

    &-logoXicon {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
    }

    &-logo {
      width: 35px;
      height: 22px;
    }

    &-name {
      display: none;
      display: flex;
      font-size: 1.125rem;
      margin: 0;
      color: white;

      @include tabletWidth {
        // display: flex;
        font-size: 1.125rem;
        margin: 0;
        color: white;
      }
    }

    &-icon {
      font-size: 2rem;
      // // width: 160px;
      // height: 50px;
      color: rgb(255, 255, 255);

      @include tabletWidth {
        display: none;
      }
    }
  }
}
