// @use '../../Styles/partials/variables.scss'as *;
// @use '../../Styles/partials/mixins.scss'as *;
@use "../../Styles/partials/global.scss"as *;

.footer {
    padding: 2em 0;
    
    p {
        font-size: 1.125rem;
        letter-spacing: 1px;
        line-height: 1.5em;
        color: var(--footer-text-color);
    }
}